{% extends 'index-admin.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
<table width="200" border="0">
  <tr>
    <td><a href="verify_employer">Verify Employer</a></td>
  </tr>
  <tr>
    <td><a href="view_job_req">View Job requirements</a></td>
  </tr>
  
  <tr>
    <td><a href="manage_job_seeker">Manage Job seeker</a></td>
  </tr>
  <tr>
    <td><div align="left"><a href="feedback_admin">View Feedback</a></div></td>
  </tr>
  
  <tr>
    <td><a href="complaint_admin">View complaint</a></td>
  </tr>
  <tr>
    <td><div align="left">
      <p><a href="/">Log out</a></p>
      </div></td>
  </tr>
</table>
</form>
</body>
{% endblock %}
