{% extends 'Admin/index-admin.html' %}
{% block body %}
<body>
<form id="form3" name="form3" method="post" action="">
<table width="200" border="1">
  <tr>
    <td rowspan="2">Company name </td>
    <td colspan="3">Addresses</td>
    <td rowspan="2">Contact</td>
    <td rowspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td>place</td>
    <td>post</td>
    <td>pin</td>
  </tr>
  {% for i in val %}
  <tr>
    <td>{{i[1]}}</td>
    <td>{{i[2]}}</td>
    <td>{{i[3]}}</td>
    <td>{{i[4]}}</td>
    <td>{{i[5]}}</td>
    <td><p><a href="{{url_for('accept_employer',id=i[6])}}">Accept</a></p>
    <p><a href="{{url_for('reject_employer',id=i[6])}}">Reject</a></p></td>
  </tr>
  {% endfor %}
</table>
</form>
</body>
{% endblock %}
