{% extends 'Employer/index-employer.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
<table width="200" border="0">
  <tr>
    <td><a href="job_register">Job Register</a></td>
  </tr>
  <tr>
    <td><a href="manage_job">Manage_job</a></td>
  </tr>
  <tr>
    <td><a href="complaint_employer">Complaints</a></td>
  </tr>
  <tr>
    <td><a href="feedback_employer">Feedback</a></td>
  </tr>
  <tr>
    <td><a href="/">Log out</a></td>
  </tr>
</table>
</form>

</body>
{% endblock %}
